.filter-section{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.filter-buttons {
    margin-bottom: 20px;
}

.filter-buttons button {
    padding: 1em 2em;
    border-radius: 50px;
    border: solid 2px #fff;
    color: #fff;
    outline: none;
    margin: 0 10px;
    cursor: pointer;
    background-color: transparent; /* Default background color */
    transition: all ease 0.5s;
}
.filter-buttons button:hover {
    border: solid 2px #f79202;
    background-color: #f79202;
}
.filter-buttons button.active {
    border: solid 2px #f79202;
    outline: none;
    background-color: #f79202; /* Active background color */
    color: #fff; /* Active text color */
}

.search-section {
    margin-bottom: 20px;
}

.search-section input {
outline: none;
padding: 1em;
border: none;
border-bottom: solid 2px #fff;
background: none;
color: #fff;

}

.search-section input:focus {
    border-bottom: solid 2px #f79202;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.image-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}